<Html>
<head>
    <title>About Candidates</title>
</head>
<body>
    <a id="first-candidate">First candidate</a>
    <br/>
    <img src="./images/cat.png">
    <h3 class="fw-bold">Baby Bob Cat</h3>
    <h6 class="card-subtitle mb-2 text-muted">From USA</h6>
    <p class="card-text">The bobcat (Lynx rufus), also known as the red lynx, is a medium-sized cat native to North America. It ranges from southern Canada through most of the contiguous United States to Oaxaca in Mexico. It is listed as Least Concern on the IUCN Red List since 2002.</p>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <a id="second-candidate">Second candidate</a>
    <br/>
    <img src="./images/cat.png">
    <h3 class="fw-bold">Baby Bob Cat</h3>
    <h6 class="card-subtitle mb-2 text-muted">From USA</h6>
    <p class="card-text">The bobcat (Lynx rufus), also known as the red lynx, is a medium-sized cat native to North America. It ranges from southern Canada through most of the contiguous United States to Oaxaca in Mexico. It is listed as Least Concern on the IUCN Red List since 2002.</p>
</body>
</Html>