<html>
  <head>
    <title>Google recapcha demo - Codeforgeek</title>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
    async defer>
    </script>
  </head>
  <body>
    <h1>Google reCAPTHA</h1>
    <form action="/submit" method="POST" onsubmit="validate()">
        <div class="g-recaptcha" data-sitekey="6LeBF_EdAAAAACGZlCWf5CPdNdlpXMgqU3oxOuyE"></div>
        <br/>
        <input type="submit" value="Submit">
    </form>
  </body>
  <script type="text/javascript">
    var onloadCallback = function() {
      console.log("grecaptcha is ready!");
    };
  </script>
</html>