body {
  background-image: linear-gradient(180deg, #eee, #fff 100px, #fff);
}

.container {
  max-width: 960px; /* (depends on your taste) */
}

.main-header {
  max-width: 700px;
}
.zoom {
  transition: transform .2s; 
}

.zoom:hover {
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}